.todo-form {
    margin-top: 0;
  }
  .todo-container {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
  }
  .todo-input {
    border-radius: 4px 0 0 4px;
    border: 2px solid #55917f;
    outline: none;
    width: 250px;
    color: rgb(0, 0, 0);
    height: 46px;
  }
  
  .todo-button {
    width: 100px;
    height: 46px;
    position: relative;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background-color: #55917f;
    color: white;
  }