/* Navbar section */

.nav-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-left: 35px;
  width: 100%;
  height: auto;
  background: #55917f;
  color: aliceblue;
  /* z-index: 1; */
}

.basic-navbar-nav {
  display: flex;
}

.nav-link {
  color: aliceblue;
}

.nav-logo h1 {
  color: #fff;
  font-family: "Outfit", sans-serif;
}

#loginRoute:hover::after {
  width: 0%;
}


